.banner {

    padding: 5vh 0;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .34s linear all;   
}


.banner:hover {

    background: rgba( 0,0,0,.7 );
}


.banner:hover > p {
    color: #fff;
    font-weight: bold;
}

.banner div {

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner div span {

    font-weight: 600;
    display: inline-block;
    margin-left: 12px;
}

.banner div .ion-icon {

    font-size: 2rem;
}

.banner p {

    border: 1px solid transparent;
    width: 80%;
    margin: auto;
    min-width: 280px;
    padding: 1.5vh 2vh;
    letter-spacing: .5rem;
    font-size: 1.6rem;
    overflow: auto;
    transition: .18s linear all;
    text-align: center;
}

@media screen and (max-width: 650px) , (max-height: 500px) {

    .banner p {

        font-size: 1.1rem;
    }
        
    .banner div .ion-icon {

        font-size: 1.3rem;
    }
        
    .banner {

        background: rgba( 0,0,0,.7 );
        color: #fff;
        font-weight: bold;
    }

}

@media screen and (max-width: 460px) {

    .banner p {
            
        letter-spacing: .23rem;
        font-size: .9rem;
    }
}

@media screen and (max-height: 400px) {

    .banner p {

        display: none;
    }
}