.banner-favorite div {

    color: rgb(214, 15, 48);
}

.banner-favorite {
    border-bottom: 2px solid transparent;
}

@media screen and (max-width: 650px) , (max-height: 500px) {

    .banner-favorite {
        border-bottom: 2px solid #fff;
    }
}
